<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hydrate U</title>
    
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <!-- BS v4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="myStyle.css">
</head>
<body ng-app="app" ng-controller="myCtrl">
    <div class="container">
            <div class="wrapper">
                    <form class="form-signin">       
                      <h2 class="form-signin-heading">Please login</h2>
                      <input type="text" class="form-control"  name="username" ng-model="email" placeholder="Email Address" required="" autofocus="" />
                      <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required=""/>      
                      <label class="checkbox">
                        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                      </label>
                      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginUser()">Login</button>   
                      <button id="btnSignUp" class="btn btn-lg  btn-info btn-block" type="submit" ng-click="createUser()">Sign Up</button>
                      <button id="btnLogout" class="btn btn-lg  btn-primary btn-block" ng-show="isLogged" type="submit" ng-click="logOut()">Log Out</button>
                    </form>
            </div>
    </div>
    <script src="indexApp.js"></script> 
</body>
</html>